# virtual environments
.env
.venv

__pycache__
*/__pycache__

# data
*/Relationship_Qualities.csv
*/ConvScores_Succ.csv
processed_timeseries
crqa_output
filtered_data

# C ++ compiled code
build
rqa_analysis.egg-info/

# R code
stats_R/